.box {
    background-color: black;
    position: absolute;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
}

body {
    background-color:bisque;
}

.change {
    background-color:aliceblue;
    transform: scale(1.2);
}
